doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Copernicus : Astronomi

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Raleway')
    // endbuild

  body

    article

      section#cover
        h1 ASTRONOMI
        ul
          li
          li Oleh Tim : Copernicus
          li Febryco Bonatua Lumban Raja
          li Jestin Pangihutan Munthe
          li Chairun Arrasyid Damanik
          li Edy Pranatha Jaya Ginting

      section.subtopik#subtopik1
        h2 Pengertian Astronomi
        div.image#image1

      section.page#page11
        p Astronomi ialah cabang ilmu alam yang melibatkan pengamatan benda-benda langit (seperti halnya bintang, planet, komet, nebula, gugus bintang, atau galaksi) 
        p serta fenomena-fenomena alam yang terjadi di luar atmosfer Bumi (misalnya radiasi latar belakang kosmik (radiasi CMB))

      section.page#page12
        p Kata astronomi berasal dari bahasa Yunani, yaitu kata astron (ἄστρον, "bintang") yang kemudian diberi akhiran -nomi dari nomos (νόμος, "hukum" atau "budaya")  
        p Maka secara harafiah ia bermakna "hukum/budaya bintang-bintang"

      section.page#page13
        p Astronomi telah dikenal jauh sebelum peradaban modern melekat pada manusia. Pengembangannyapun masih terkesan kuno dan sangat tradisional. Contohnya seperti artifak-artifak astronomis yang telah ditemukan dari era prasejarah, beberapa diantaranya adalah monumen-monumen Mesir dan Nubia, atau yang cukup terkenal di kalangan orang banyak, yaitu Stonehenge yang berasal dari Britania.

      section.page#page14
        p Cukup banyak cabang-cabang ilmu yang pernah turut disertakan sebagai bagian dari astronomi, di antaranya seperti:
        hr
        ul
          li
          li 
            strong Astrometri
          li 
            strong Pelayaran berbasis angkasa
          li 
            strong Astronomi observasional
          li 
            strong Astrologi 
          li 
            strong dll.

      section.page#page15
        p Pada abad ke-20, astronomi profesional terbagi menjadi dua cabang, yaitu
        ul
          li
          li 
            strong Astronomi Observasional
          li 
            strong Astronomi Teoritis

      section.subtopik#subtopik2
        h2 Cabang Ilmu Astronomi
        div.image#image2

      section.page#page21
        ul
          li
          li 
            h3 
              strong Astronomi Surya
          li 
            h3 
              strong Ilmu Keplanetan
          li 
            h3 
              strong Astronomi Bintang
          li 
            h3 
              strong Astronomi Galaksi
          li 
            h3 
              strong Astronomi Ekstragalaksi
          li 
            h3 
              strong Kosmologi

      section.page#page22
          h2 Astronomi Surya
          p Mempelajari tentang segala aktivitas yang terjadi pada matahari dan dampak yang ditimbulkan terhadap objek yang disekitarnya. 
          p Salah satu aktivitas dari matahari yang sangat terkenal adalah gerhana. 
          p Aktivitas lainnya yang cukup menarik untuk dikaji oleh para peneliti adalah badai matahari.

      section.page#page23
          h2 Ilmu Keplanetan
          p Mempelajari tentang sususan dari setiap objek-objek yang ada di suatu sistem tata surya. Yang dikaji tidak hanya objek-ebjek yang ada di tata surya di mana Bumi kita, yaitu Bima Sakti, tetapi juga objek-objek sistem tata surya lainnya yang ada di luar Bima Sakti.

      section.page#page24
          h2 Astronomi Bintang
          p Mempelajari tentang asal mula bintang terbentuk dan evolusi dari bintang tersebut hingga akhir evolusinya.
 
      section.page#page25
          h2 Astronomi Galaksi
          p Mempelajari tentang tata surya kita, yaitu Bima Sakti, secara spesifik dan setiap aktivitas-aktivitas yang terjadi di dalam tata surya tersebut.

      section.page#page26
          h2 Astronomi Ekstragalaksi
          p Mempelajari tentang galaksi yang berada di luar tata surya kita, bagaimana galaksi-galaksi tersebut berevolusi dan aktivitas-aktivitas apa saja yang terjadi di galaksi tersebut.

      section.page#page27
          h2 Kosmologi
          p Kosmologi adalah ilmu yang mempelajari struktur dan sejarah alam semesta berskala besar. Secara khusus, ilmu ini berhubungan dengan asal mula dan evolusi dari suatu subjek. Kosmologi dipelajari dalam astronomi, filosofi, dan agama.
          p Salah satu teori yang cukup terkenal berkaitan dengan kosmologi adalah Teori Ledakan Dahsyat (Big Bang Teori).

      section.subtopik#subtopik3
        h2 Teori-Teori Kuno dalam Astronomi
        div.image#image3

      section.subtopik#subtopik35
        h2 Ilmuwan Astronomi Abad Pertengahan

       section.subtopik#subtopik36
        h3 
          strong Claudius Ptolomeus
        div.image#image36
        p 
          strong (90 - 168)

       section.subtopik#subtopik37
        h3 
          strong Nicolaus Copernicus
        div.image#image37
        p (1473 - 1543)

       section.subtopik#subtopik38
        h3 
          strong Galileo Galilei
        div.image#image38
        p 
          strong (1564 - 1642)

       section.subtopik#subtopik39
        h3 
          strong Ibn Al-Syatir
        div.image#image39
        p 
          strong (1304 - 1375)

       section.subtopik#subtopik311
        h2 Pemahaman Pandangan Astronom Abad Pertengahan Dalam Pembentukan Tata Surya
        div.image#image311

       section.subtopik#subtopik312
        h2 Geosentris
        div.image#image312
        ul
          li
          li Bumi sebagai Pusat Tata Surya
          li Claudius Ptolomeus dan Almagest
          li Aristoteles
          li Kelebihan dan Kekurangan Geosentris

       section.subtopik#subtopik313
        h2 Heliosentris
        div.image#image313
        ul
          li
          li Matahari sebagai Pusat Tata Surya
          li Nicolaus Copernicus
          li Kelebihan dan Kekurangan Heliosentris
        


      section.subtopik#subtopik31
        p Adapun Teori lain yang disebut Teori Astronot Kuno, adalah suatu teori yang menyatakan bahwa bumi kita ini dulu telah dikunjungi makhluk luar angkasa yang mengembangkan kebudayaan manusia. Pada abad ke 20, teori ini dikemukakan oleh Erich von Däniken, Zecharia Sitchin, Robert K. G. Temple, and David Icke.
        p Teori ini mengatakan dewa-dewa dari sebagian suku merupakan makhluk luar angkasa, ditambah lagi dengan peninggalan kuno seperti baalbeck, yonaguni, stonehenge, serta gambar-gambar serta ukiran yang terdapat pada sisa bangunan peradaban masa silam, seperti makhluk berhelm yang digambar di gua, ukiran suku maya,dan lainnya... ukiran dan gambaran yang ada biasanya adalah apa yang dilihat dan terjadi oleh orang pada masa itu.

      section.subtopik#subtopik32
        h3 
          strong Erich Von Däniken
        div.image#image32
        p Manusia dan Makhluk Luar Angkasa
        p Chariot of God
        

      section.subtopik#subtopik33
        h3 
          strong Zecharia Sitchin
        div.image#image33
        p Dewa Mesopotamia Kuno dan NIBIRU
        p Hubungan antara makhluk hidup dibumi dengan Teori Sitchin
        
      section.subtopik#subtopik34
        h3 
          strong Robert K.G Temple
        div.image#image34
        p Suku Dogon dan Makhluk Asing 500 tahun yang lalu


      section.subtopik#subtopik4
        h2 Astronomi Era Millenium
        div.image#image4

      section.page#page41
        p Sebagaimana disebutkan, astronomi ialah salah satu dari sedikit cabang ilmu di mana tenaga amatir dapat berkontribusi banyak.

      section.page#page42
        p Kebanyakan astronom amatir bekerja dalam astronomi optikal, walau sebagian kecil ada juga yang mencoba bereksperimen dengan panjang gelombang di luar cahaya tampak, misalnya dengan penyaring inframerah pada teleskop atau teleskop radio profesional yang sekarang sudah boleh diakses oleh amatir seperti halnya Teleskop Satu Mil (One-Mile Telescope).

      section.page#page44
        p Tata Surya kita beredar di dalam Bima Sakti, sebuah galaksi spiral berpalang di Grup Lokal. Ia merupakan salah satu yang paling menonjol di kumpulan galaksi tersebut. Bima Sakti merotasi materi-materi gas, debu, bintang, dan benda-benda lain, semuanya berkumpul akibat tarikan gaya gravitasi bersama. Bumi sendiri terletak pada sebuah lengan galaksi berdebu yang ada di bagian luar, sehingga banyak daerah-daerah Bima Sakti yang tidak terlihat.

      section.page#page45
        p Pada pusat galaksi ialah bagian inti, semacam tonjolan berbentuk seperti batang; diyakini bahwa terdapat sebuah lubang hitam supermasif di bagian pusat ini. Bagian ini dikelilingi oleh empat lengan utama yang melingkar dari tengah menuju arah luar, dan isinya kaya akan fenomena-fenomena pembentukan bintang, sehingga memuat banyak bintang-bintang muda (metalisitas populasi I). 
        p Cakram ini lalu diliputi oleh cincin galaksi yang berisi bintang-bintang yang lebih tua (metalisitas populasi II) dan juga gugusan-gugusan bintang berbentuk bola (globular), yaitu semacam kumpulan-kumpulan bintang yang relatif lebih padat.

      section.page#page46
        p Daerah di antara bintang-bintang disebut medium antarbintang, yaitu daerah dengan kandungan materi yang jarang — bagian-bagiannya yang relatif terpadat adalah awan-awan molekul berisi hidrogen dan unsur lainnya, tempat di mana banyak bintang baru akan lahir. 
        p Awalnya akan terbentuk sebuah inti pra-bintang atau nebula gelap yang merapat dan kemudian runtuh (dalam volume yang ditentukan oleh panjang Jeans) untuk membangun protobintang.

      section.page#page47
        p Ketika sudah banyak bintang besar yang muncul, mereka akan mengubah awan molekul menjadi awan daerah H II, yaitu awan dengan gas berpijar dan plasma. 

      section.page#page48
        p Sejumlah penelitian kinematika berkenaan dengan materi-materi di Bima Sakti (dan galaksi lainnya) menunjukkan bahwa materi-materi yang tampak massanya kurang dari massa seluruh galaksi. 
        p Ini menandakan terdapat apa yang disebut materi gelap yang bertanggung jawab atas sebagian besar massa keseluruhan, tapi banyak hal yang belum diketahui mengenai materi misterius ini.

      section.page#page49
        h2 Jenis-Jenis Galaksi
        p Galaksi spiral membentuk cakram gepeng yang berotasi, biasanya dengan tonjolan atau batangan pada bagian tengah dan lengan-lengan spiral cemerlang yang timbul dari bagian tersebut. Lengan-lengan ini ialah lapangan berdebu tempat lahirnya bintang-bintang baru, dan penghuninya adalah bintang-bintang muda yang bermassa besar dan berpijar biru. Umumnya, galaksi spiral akan dikelilingi oleh cincin yang tersusun atas bintang-bintang yang lebih tua. Contoh galaksi semacam ini adalah Bima Sakti dan Andromeda.

      section.page#page50
        p Persis seperti namanya, galaksi elips berbentuk seperti elips. Bintang-bintang berputar pata garis edarnya secara acak tanpa menuju arah yang jelas. Galaksi-galaksi seperti ini kandungan debu antarbintangnya sangat sedikit atau malah tidak ada; daerah penghasil bintangnya tidak banyak; dan rata-rata penghuninya bintang-bintang yang sudah tua. Biasanya galaksi elips ditemukan pada bagian inti gugusan galaksi, dan bisa terlahir melalui peleburan galaksi-galaksi.

      section.page#page51
        p Galaksi tak beraturan merupakan sebuah galaksi yang tidak memiliki bentuk beraturan, tidak menyerupai galaksi spiral maupun galaksi eliptis. Bentuk dari galaksi tak beraturan tidaklah umum – galaksi tersebut tidak masuk dalam salah satu kelas yang umum pada sistem klasifikasi Hubble, dan penampilannya kacau, tanpa memiliki tonjolan galaksi maupun struktur lengan spiral. Secara keseluruhan, seperempat dari galaksi yang ada memiliki bentuk tak beraturan. Kebanyakan galaksi tak beraturan sebelumnya merupakan galaksi spiral ataupun eliptis namun bentuknya berubah tak beraturan karena tarikan gravitasi.

      section.page#page52
        h2 Penelitian-penelitian interdisipliner
        p Astronomi dan astrofisika telah mengambangkan hubungan yang kuat dengan cabang-cabang ilmu pengetahuan lainnya. Misalnya arkeoastronomi, yang mempelajari astronomi kuno atau tradisional dalam konteks budaya masing-masing mempergunakan bukti-bukti arkeologis dan antropologis. Atau astrobiologi, kali ini mempelajari kelahiran dan perkembangan sistem-sistem biologis di alam semesta; terutama sekali pada topik kehidupan di planet lain.
        p Ada juga cabang yang meneliti zat-zat kimia yang ditemukan di luar angkasa; bagaimana mereka terwujud, berperilaku, dan terhancurkan. Ini dinamakan astrokimia. Zat-zat yang hendak dipelajari biasanya ditemukan pada awan molekul, walau ada juga yang terdapat di bintang bersuhu rendah, katai coklat, atau planet. Lalu kosmokimia, ilmu serupa yang lebih mengarah ke penelitian unsur-unsur dan variasi-variasi rasio isotop pada Tata Surya. Ilmu-ilmu ini bisa menggambarkan persinggungan dari ilmu-ilmu astronomi dan kimia. Bahkan sekarang ada astronomi forensik, di mana metode-metode astronomi dipakai untuk memecahkan masalah-masalah hukum dan sejarah.


      section.subtopik#subtopik5
        h2 Misteri terkait Astronomi
        div.image#image5

      section#BIG
        li
        li 
          strong Lunar Trio
        li 
          strong Cahaya Zodiak
        li 
          strong Hujan Meteor
        li 
          strong Komet ISON

      section.page#page51
        h2 Lunar Trio
        div#imagelunar

      section.page#page511
        p Dimulai sejak akhir Oktober 2013 pada awal pagi Selasa, tanggal 29, Bulan akan membentuk pola segitiga berkolaborasi dengan planet Mars dan bintang Regulus, dari konstelasi Leo.
        p Penampakan ketiganya pun akan terlihat seperti tiga benda langit yang membentuk segitiga sama sisi dengan warna-warna menarik. Bulan akan berwarna kekuningan, planet Mars akan berwarna merah, dan bintang Regulus akan berwarna biru keputihan.

      section.page#page52
        h2 Cahaya Zodiak
        div#imagezodiak

      section.page#page521
        p Salah satu komponen utama cahaya zodiak (zodiacal light) adalah tabrakan antara asteroid-asteroid besar di Sabuk Asteroid (Asteroid Belt). Sabuk asteroid adalah bagian Tata Surya terletak kira-kira antara orbit planet Mars dan Jupiter.
        p Daerah ini dipenuhi oleh sejumlah objek tak beraturan yang disebut asteroid atau planet kerdil. 

      section.page#page53
        h2 Hujan Meteor
        div#imagemeteor

      section.page#page531
        p Hujan meteor Leonids (LEO) akan nampak seperti hujan meteor yang intensenya deras atau disebut juga Shooting Star.  Meteor-meteor yang radiant-nya berasal dari konstalasi Leo ini adalah pecahan dari komet Temple-Turtle. Debu meteorid dari komet Swift-Temple-Turtle ini datang berlawanan dengan orbit Bumi dan dapat melesat dengan kecepatan 72 km per detik
        p Setiap tahunnya, Leonids akan melakukan perjalanan sejauh 45 mil untuk menghibur jutaan pasang mata di bumi.

      section.page#page54
        h2 Komet ISON
        div#imageison

      section.page#page541
        p Pada akhir bulan November 2013, Komet ISON C/2012 S-1 untuk pertama kalinya akan terlihat di langit subuh menuju matahari mulai November 2013. Komet ini ditemukan pada tahun 2012 oleh Vitali Nevski dan Artyom Novichonok, astronom asal Rusia. Nama komet diambil dari fasilitas penemuannya, International Scientific Optical Network, ISON.
        p Ini adalah kali pertamanya komet ini mendekati dan mengorbit matahari sejak 10.000 tahun lalu ia mulai tertarik oleh gravitasi Matahari dan memulai perjalanannya sejak selama ini hanya berada di Kuiper Belt.


    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild