doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Copernicus : Astronomi

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Raleway')
    // endbuild

  body

    article

      section#cover
        h1 ASTRONOMI
        ul
          li Oleh Tim : Copernicus
          li Febryco Bonatua Lumban Raja
          li Jestin Pangihutan Munthe
          li Chairun Arrasyid Damanik
          li Edy Pranatha Jaya Ginting

      section.subtopik#subtopik1
        h2 Pengertian Astronomi
        div.image#image1

      section.page#page1
        p Astronomi ialah cabang ilmu alam yang melibatkan pengamatan benda-benda langit (seperti halnya bintang, planet, komet, nebula, gugus bintang, atau galaksi) 
        p serta fenomena-fenomena alam yang terjadi di luar atmosfer Bumi (misalnya radiasi latar belakang kosmik (radiasi CMB))

      section.subtopik#subtopik2
        h2 Cabang Ilmu Astronomi
        div.image#image2

      section.subtopik#subtopik3
        h2 Teori-teori Astronom Kuno
        div.image#image3

      section.subtopik#subtopik31
        p Teori Astronot Kuno adalah suatu teori yang menyatakan bahwa bumi kita ini dulu telah dikunjungi makhluk luar angkasa yang mengembangkan kebudayaan manusia. Pada abad ke 20, teori ini dikemukakan oleh Erich von Däniken, Zecharia Sitchin, Robert K. G. Temple, and David Icke.
        p Teori ini mengatakan dewa-dewa dari sebagian suku merupakan makhluk luar angkasa, ditambah lagi dengan peninggalan kuno seperti baalbeck, yonaguni, stonehenge, serta gambar-gambar serta ukiran yang terdapat pada sisa bangunan peradaban masa silam, seperti makhluk berhelm yang digambar di gua, ukiran suku maya,dan lainnya... ukiran dan gambaran yang ada biasanya adalah apa yang dilihat dan terjadi oleh orang pada masa itu.

      section.subtopik#subtopik32
        h3 Erich Von Däniken
        div.image#image32
        p Erich Von Däniken mengatakan bahwa beberapa benda purbakala buatan manusia lebih canggih dari apa yang seharusnya dibuat mereka pada zaman itu. Teknologi mereka yang canggih diyakini Erich bahwa yang membuat tekologi purbakala itu adalah mahkhluk luar angkasa atau manusia yang mendapat pengetahuan dari makhluk tersebut.

      section.subtopik#subtopik33
        h3 Zecharia Sitchin
        div.image#image33
        p Zecharia Sitchin adalah orang yang menyatakan kalau dewa mesopotamia kuno berasal dari planet ke 12 yang disebut NIBIRU. Menurut Sitchin, Nibiru akan mengorbit ke matahari kita setiap 3.600 tahun sekali. Sitchin juga menyatakan kalau sabuk asteroid di antara Mars dan Jupiter adalah sebuah planet kuno bernama "Tiamat" yang hancur oleh Nibiru.

      section.subtopik#subtopik34
        h3 Robert K.G Temple
        div.image#image34
        p Robert Temple adalah orang yang mengatakan makhluk asing mengunjungi manusia 500 tahun yang lalu pada suku dogo yang sudah mengetahui secara luas astronomi sebelum para manusia lainnya menemukannya. Dia percaya bahwa suku dogon memperoleh pengetahuan dari makhluk asing.

      section.page#page2
        p Sebagaimana diketahui dari artifak-artifak Astronomi yang berasal dari era prasejarah. Misalnya monumen-monumen dari Mesir dan Nubia atau Stonehenge yang berasal dari Britania. Orang-orang dari peradaban-peradaban awal semacam Babilonia, Yunani, China, India, dan Maya juga didapati telah melakukan pengamatan yang Metodelogis atas langit malam. Meskipun memiliki sejarah yang panjang, Astronomi baru dapat berkembang menjadi cabang ilmu pengetahuan modern melalui penemuan Teleskop.

      section.page#page3
        p Cukup banyak cabang-cabang ilmu yang pernah turut disertakan sebagai bagian dari astronomi, dan apabila diperhatikan, sifat cabang-cabang ini sangat beragam: dari astrometri, pelayaran berbasis angkasa, astronomi observasional, sampai dengan penyusunan kalender dan astrologi. Meski demikian, dewasa ini astronomi profesional dianggap identik dengan astrofisika.

      section.page#page4
        p Pada abad ke-20, astronomi profesional terbagi menjadi dua cabang: astronomi observasional dan astronomi teoretis. Yang pertama melibatkan pengumpulan data dari pengamatan atas benda-benda langit, yang kemudian akan dianalisis menggunakan prinsip-prinsip dasar fisika. Yang kedua terpusat pada upaya pengembangan model-model komputer/analitis guna menjelaskan sifat-sifat benda-benda langit serta fenomena-fenomena alam lainnya.

      section.page#page5
        p Adapun kedua cabang ini bersifat komplementer — astronomi teoretis berusaha untuk menerangkan hasil-hasil pengamatan astronomi observasional, dan astronomi observasional kemudian akan mencoba untuk membuktikan kesimpulan yang dibuat oleh astronomi teoretis.

      section.subtopik#subtopik4
        h2 Astronomi Era Millenium
        div.image#image4

      section.page#page6
        p Sebagaimana disebutkan, astronomi ialah salah satu dari sedikit cabang ilmu di mana tenaga amatir dapat berkontribusi banyak. Secara keseluruhan, astronom-astronom amatir mengamati berbagai benda dan fenomena angkasa, terkadang bahkan dengan peralatan yang mereka buat sendiri. Yang jamak diamati yaitu Bulan, planet, bintang, komet, hujan meteor, dan benda-benda langit dalam seperti gugusan bintang, galaksi, dan nebula. Salah satu cabang astronomi amatir adalah astrofotografi amatir, yang melibatkan mengambilan foto-foto langit malam. Banyak yang memilih menjadi astrofotografer yang berspesialis dalam obyek atau peristiwa tertentu

      section.page#page7
        p Kebanyakan astronom amatir bekerja dalam astronomi optikal, walau sebagian kecil ada juga yang mencoba bereksperimen dengan panjang gelombang di luar cahaya tampak, misalnya dengan penyaring inframerah pada teleskop biasa, atau penggunaan teleskop radio. Pelopor radio astronomi amatir adalah Karl Jansky, yang memulai kegiatan ini pada dekade 1930-an. Amatir jenis seperti Jansky ini memakai teleskop buatan sendiri atau teleskop radio profesional yang sekarang sudah boleh diakses oleh amatir seperti halnya Teleskop Satu Mil (One-Mile Telescope).

      section.page#page8
        p Sumbangsih astronom amatir tidak sepele, sebab banyak hal — seperti pengkuran okultasi guna mempertajam catatan garis edar planet-planet kecil — bergantung pada pekerjaan astronomi amatir. Para amatir dapat pula menemukan komet atau melakukan penelitian rutin atas bintang-bintang variabel. Seiring dengan perkembangan teknologi digital, astrofotografi amatir juga semakin efektif dan semakin giat memberikan sumbangan ilmu.

      section.subtopik#subtopik5
        h2 Misteri terkait Astronomi
        div.image#image5

      section#BIG
        li Lunar Trio
        li Cahaya Zodiak
        li Hujan Meteor
        li komet ISON

      section.page#page9
        h2 Lunar Trio
        div#imagelunar

      section.page#page10
        p Dimulai sejak akhir Oktober 2013 pada awal pagi Selasa, tanggal 29, Bulan akan membentuk pola segitiga berkolaborasi dengan planet Mars dan bintang Regulus, dari konstelasi Leo.

      section.page#page11
        h2 Cahaya Zodiak
        div#imagezodiak

      section.page#page12
        p Salah satu komponen utama cahaya zodiak (zodiacal light) adalah tabrakan antara asteroid-asteroid besar di Sabuk Asteroid (Asteroid Belt). Sabuk asteroid adalah bagian Tata Surya terletak kira-kira antara orbit planet Mars dan Jupiter.



    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild