doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Copernicus : Astronomi

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Raleway')
    link(rel='stylesheet', type='text/css', href='styles/style.css')
    // endbuild

  body

    article

      section#cover
        h1 ASTRONOMI
        ul
          li
          li Oleh Tim : Copernicus
          li Febryco Bonatua Lumban Raja
          li Jestin Pangihutan Munthe
          li Chairun Arrasyid Damanik
          li Edy Pranatha Jaya Ginting

      section.subtopik#subtopik1
        h2 Pengertian Astronomi
        div.image#image1

      section.page#page11
        p Astronomi ialah cabang ilmu alam yang melibatkan pengamatan benda-benda langit (seperti halnya bintang, planet, komet, nebula, gugus bintang, atau galaksi) 
        p serta fenomena-fenomena alam yang terjadi di luar atmosfer Bumi (misalnya radiasi latar belakang kosmik (radiasi CMB))

      section.page#page12
        p Kata astronomi berasal dari bahasa Yunani, yaitu kata astron (ἄστρον, "bintang") yang kemudian diberi akhiran -nomi dari nomos (νόμος, "hukum" atau "budaya")  
        p Maka secara harafiah ia bermakna "hukum/budaya bintang-bintang"

      section.page#page13
        p Astronomi telah dikenal jauh sebelum peradaban modern melekat pada manusia. Pengembangannyapun masih terkesan kuno dan sangat tradisional. Contohnya seperti artifak-artifak astronomis yang telah ditemukan dari era prasejarah, beberapa diantaranya adalah monumen-monumen Mesir dan Nubia, atau yang cukup terkenal di kalangan orang banyak, yaitu Stonehenge yang berasal dari Britania.

      section.page#page14
        p Cukup banyak cabang-cabang ilmu yang pernah turut disertakan sebagai bagian dari astronomi, di antaranya seperti:
        hr
        ul
          li
          li 
            strong Astrometri
          li 
            strong Pelayaran berbasis angkasa
          li 
            strong Astronomi observasional
          li 
            strong Astrologi 
          li 
            strong dll.

      section.page#page15
        p Pada abad ke-20, astronomi profesional terbagi menjadi dua cabang, yaitu
        ul
          li
          li 
            strong Astronomi Observasional
          li 
            strong Astronomi Teoritis

      section.subtopik#subtopik2
        h2 Cabang Ilmu Astronomi
        div.image#image2

      section.page#page21
        ul
          li
          li 
            h3 
              strong Astronomi Surya
          li 
            h3 
              strong Ilmu Keplanetan
          li 
            h3 
              strong Astronomi Bintang
          li 
            h3 
              strong Astronomi Galaksi
          li 
            h3 
              strong Astronomi Ekstragalaksi
          li 
            h3 
              strong Kosmologi

      section.page#page22
          h2 Astronomi Surya
          p Mempelajari tentang segala aktivitas yang terjadi pada matahari dan dampak yang ditimbulkan terhadap objek yang disekitarnya. 
          p Salah satu aktivitas dari matahari yang sangat terkenal adalah gerhana. 
          p Aktivitas lainnya yang cukup menarik untuk dikaji oleh para peneliti adalah badai matahari.

      section.page#page23
          h2 Ilmu Keplanetan
          p Mempelajari tentang sususan dari setiap objek-objek yang ada di suatu sistem tata surya. Yang dikaji tidak hanya objek-ebjek yang ada di tata surya di mana Bumi kita, yaitu Bima Sakti, tetapi juga objek-objek sistem tata surya lainnya yang ada di luar Bima Sakti.

      section.page#page24
          h2 Astronomi Bintang
          p Mempelajari tentang asal mula bintang terbentuk dan evolusi dari bintang tersebut hingga akhir evolusinya.
 
      section.page#page25
          h2 Astronomi Galaksi
          p Mempelajari tentang tata surya kita, yaitu Bima Sakti, secara spesifik dan setiap aktivitas-aktivitas yang terjadi di dalam tata surya tersebut.

      section.page#page26
          h2 Astronomi Ekstragalaksi
          p Mempelajari tentang galaksi yang berada di luar tata surya kita, bagaimana galaksi-galaksi tersebut berevolusi dan aktivitas-aktivitas apa saja yang terjadi di galaksi tersebut.

      section.page#page27
          h2 Kosmologi
          p Kosmologi adalah ilmu yang mempelajari struktur dan sejarah alam semesta berskala besar. Secara khusus, ilmu ini berhubungan dengan asal mula dan evolusi dari suatu subjek. Kosmologi dipelajari dalam astronomi, filosofi, dan agama.
          p Salah satu teori yang cukup terkenal berkaitan dengan kosmologi adalah Teori Ledakan Dahsyat (Big Bang Teori).
        

      section.subtopik#subtopik35
        h3 
          strong Ilmuwan Yang Berpengaruh Dalam Perkembangan Ilmu Astronomi
        div.image#image3

       section.subtopik#subtopik36
        h3 
          strong Claudius Ptolomeus
        div.image#image36
        p 
          strong (90 - 168)

       section.subtopik#subtopik37
        h3 
          strong Nicolaus Copernicus
        div.image#image37
        p (1473 - 1543)

       section.subtopik#subtopik38
        h3 
          strong Galileo Galilei
        div.image#image38
        p 
          strong (1564 - 1642)

       section.subtopik#subtopik39
        h3 
          strong Ibn Al-Syatir
        div.image#image39
        p 
          strong (1304 - 1375)

       section.subtopik#subtopik3
        h2 Konsep Geosentris dan Heliosentris
        div.image#image314

       section.subtopik#subtopik312
        h2 Geosentris
        div.image#image312
        ul
          li
          li Bumi sebagai Pusat Tata Surya
          li Aristoteles
          li Claudius Ptolomeus dan Almagest
          li Kelebihan dan Kekurangan Geosentris

       section.subtopik#subtopik313
        h2 Heliosentris
        div.image#image313
        ul
          li
          li Matahari sebagai Pusat Tata Surya
          li Nicolaus Copernicus
          li Kelebihan dan Kekurangan Heliosentris

       section.subtopik#subtopik311
        h2 Teori Pembentukan Tata Surya
        div.image#image311

       section.subtopik#subtopik315
        h2 
           strong Teori Nebula (Kant - Laplace)
        div.image#image315

       section.subtopik#subtopik316
        h3 
           strong Teori Kondensasi (Carl von Weizsacker - Gerald P. Kuiper)
        div.image#image316

       section.subtopik#subtopik317
        h3 
           strong Teori Planetesimal (Chamberlain - Moulton)
        div.image#image317
       
      section.subtopik#subtopik4
        h2 Astronomi Era Millenium
        div.image#image4

      section.page#page41
        h3 Pengertian Astronomi
        p Astronomi adalah cabang ilmu alam yang meliputi pengamatan benda-benda langit  serta fenomena-fenomena alam yang terjadi di luar atmosfer Bumi.
        p Ilmu ini secara pokok mempelajari berbagai sisi dari benda-benda langit , seperti:
        ul
          li
          li Asal-usul
          li Sifat fisika/kimia
          li Meteorologi
          li Gerak

      section.page#page42
        p Astronom-astronom amatir telah dan terus berperan penting dalam banyak penemuan-penemuan astronomis, menjadikan astronomi salah satu dari hanya sedikit ilmu pengetahuan di mana tenaga amatir masih memegang peran aktif, terutama pada penemuan dan pengamatan fenomena-fenomena sementara.

      section.page#page44
        h3 Awal Mula Penemuan Astronomi 

      section.page#page45
        h4 1. (Abad ke-2 SM)
        p Dimulainya astronomi yang berdasarkan perhitungan matematis dan ilmiah dulu dipelopori oleh orang-orang Babilonia.
        p Mereka menemukan bahwa gerhana bulan memiliki sebuah siklus yang teratur, disebut siklus saros.

      section.page#page46
        h4 2. (Abad ke-3 SM)
        p Aristarkhos dari Samos melakukan perhitungan atas ukuran Bumi serta jarak antara Bumi dan Bulan, dan kemudian mengajukan model Tata Surya yang heliosentris — pertama kalinya dalam sejarah.

      section.page#page47
        h4 3. (Abad ke-4 SM)
        p  Hipparkhos berhasil menemukan gerak presesi, juga menghitung ukuran Bulan dan Matahari serta jarak antara keduanya, sekaligus membuat alat-alat penelitian astronomi paling awal seperti astrolab. 

      section.page#page48
        h4 4. (Tahun 150-80 SM)
        p  Mekanisme Antikythera yang terkenal juga berasal dari periode yang sama. Komputer analog yang digunakan untuk menghitung letak Matahari/Bulan/planet-planet pada tanggal tertentu ini merupakan barang paling kompleks dalam sejarah sampai abad ke-14, ketika jam-jam astronomi mulai bermunculan di Eropa.

      section.page#page49
        h4 5. (Tahun 964)
        p  Astronom Persia Al-Sufi menemukan Galaksi Andromeda (galaksi terbesar di Grup Lokal) dan mencatatnya dalam Book of Fixed Stars.
        p Supernova SN 1006, ledakan bintang paling terang dalam catatan sejarah, berhasil diamati oleh astronom Mesir Ali bin Ridwan.

      section.page#page50
        h3 Pembagian-pembagian Astronomi Observasional

      section.page#page51
        h4 1. Astronomi Radio
        p  Astronomi observasional tipe radio mengamati gelombang-gelombang yang bisa diperlakukan selayaknya gelombang, bukan foton-foton yang diskrit.
        p Dengan demikian pengukuran fase dan amplitudonya relatif lebih gampang apabila dibandingkan dengan gelombang yang lebih pendek.

      section.page#page51
        h4 2. Astronomi Inframerah
        p Astronomi inframerah juga bisa dimanfaatkan untuk mempelajari struktur kimia benda-benda angkasa, karena beberapa molekul memiliki pancaran yang kuat pada panjang gelombang ini.
        p Salah satu kegunaannya yaitu mendeteksi keberadaan air pada komet-komet.

      section.page#page52
        h4 3. Astronomi Optikal
        p Astronomi optikal mengamati radiasi elektromagnetik yang tampak oleh mata telanjang manusia.
        p Mulai dari penghujung abad ke-19 sampai kira-kira seabad setelahnya, citra-citra astronomi optikal memakai teknik fotografis, namun sebelum itu mereka harus digambar menggunakan tangan. 
        p Detektor-detektor digitallah yang dipergunakan, terutama yang memakai CCD (charge-coupled devices, peranti tergandeng-muatan).

      section.page#page53
        h4 4. Astronomi Ultraungu
        p Ultraungu yaitu radiasi elektromagnetik dengan panjang gelombang lebih kurang 100 sampai 3.200 Å (10-320 nm).
        p Astronomi jenis ini cocok untuk mempelajari radiasi termal dan garis-garis spektrum pancaran dari bintang-bintang biru yang bersuhu sangat tinggi (klasifikasi OB), sebab bintang-bintang seperti itu sangat cemerlang radiasi ultraungunya — penelitian seperti ini sering dilakukan dan mencakup bintang-bintang yang berada di galaksi-galaksi lain. 
        p Selain bintang-bintang OB, benda-benda langit yang kerap diamati melalui astronomi cabang ini antara lain nebula-nebula planet, sisa-sisa supernova, atau inti-inti galaksi aktif.

      section.page#page54
        h4 5. Astronomi Sinar-X
        p Benda-benda bisa memancarkan cahaya berpanjang gelombang sinar-X melalui pancaran sinkrotron (berasal dari elektron-elektron yang berkisar di sekeliling medan magnet) atau melalui pancaran termal gas pekat dan gas encer pada 107 K.
        p Sinar-X juga diserap oleh atmosfer, sehingga pengamatan harus dilakukan dari atas balon, roket, atau satelit penelitian.
        p Sumber-sumber sinar-X antara lain bintang biner sinar-X (X-ray binary), pulsar, sisa-sisa supernova, galaksi elips, gugusan galaksi, serta inti galaksi aktif.

      section.page#page55
        h4 6. Astronomi Sinar-Gamma
        p Sinar-gamma bisa diamati secara langsung melalui satelit-satelit seperti Observatorium Sinar-Gamma Compton (CGRO), atau dengan jenis teleskop khusus yang disebut teleskop Cherenkov (IACT).
        p Kebanyakan sumber sinar-gamma hanyalah berupa ledakan sinar-gamma, yang hanya menghasilkan sinar tersebut dalam hitungan milisekon sampai beberapa puluh detik saja.
        p Sumber yang permanen dan tidak sementara hanya sekitar 10% dari total jumlah sumber, misalnya sinar-gamma dari pulsar, bintang neutron, atau inti galaksi aktif dan kandidat-kandidat lubang hitam.

      section.page#page56
        h3 Jenis-Jenis Galaksi

      section.page#page57
        h4 1. Galaksi Spiral
        p Galaksi spiral membentuk cakram gepeng yang berotasi, biasanya dengan tonjolan atau batangan pada bagian tengah dan lengan-lengan spiral cemerlang yang timbul dari bagian tersebut. Lengan-lengan ini ialah lapangan berdebu tempat lahirnya bintang-bintang baru, dan penghuninya adalah bintang-bintang muda yang bermassa besar dan berpijar biru. Umumnya, galaksi spiral akan dikelilingi oleh cincin yang tersusun atas bintang-bintang yang lebih tua. Contoh galaksi semacam ini adalah Bima Sakti dan Andromeda.

      section.page#page58
        h4 2. Galaksi Elips
        p Persis seperti namanya, galaksi elips berbentuk seperti elips. Bintang-bintang berputar pata garis edarnya secara acak tanpa menuju arah yang jelas. Galaksi-galaksi seperti ini kandungan debu antarbintangnya sangat sedikit atau malah tidak ada; daerah penghasil bintangnya tidak banyak; dan rata-rata penghuninya bintang-bintang yang sudah tua. Biasanya galaksi elips ditemukan pada bagian inti gugusan galaksi, dan bisa terlahir melalui peleburan galaksi-galaksi.

      section.page#page59
        h4 3. Galaksi Tak Beraturan
        p Galaksi tak beraturan merupakan sebuah galaksi yang tidak memiliki bentuk beraturan, tidak menyerupai galaksi spiral maupun galaksi eliptis. Bentuk dari galaksi tak beraturan tidaklah umum – galaksi tersebut tidak masuk dalam salah satu kelas yang umum pada sistem klasifikasi Hubble, dan penampilannya kacau, tanpa memiliki tonjolan galaksi maupun struktur lengan spiral. Secara keseluruhan, seperempat dari galaksi yang ada memiliki bentuk tak beraturan. Kebanyakan galaksi tak beraturan sebelumnya merupakan galaksi spiral ataupun eliptis namun bentuknya berubah tak beraturan karena tarikan gravitasi.


      section.subtopik#subtopik5
        h2 Misteri terkait Astronomi
        div.image#image5

      section#BIG
        li
        li 
          strong Lunar Trio
        li 
          strong Cahaya Zodiak
        li 
          strong Hujan Meteor
        li 
          strong Komet ISON

      section.page#page51
        h2 Lunar Trio
        div#imagelunar

      section.page#page511
        p Pada akhir Oktober 2013 awal pagi Selasa, tanggal 29, Bulan akan membentuk pola segitiga berkolaborasi dengan planet Mars dan bintang Regulus, dari konstelasi Leo.
        p Penampakan ketiganya pun akan terlihat seperti tiga benda langit yang membentuk segitiga sama sisi dengan warna-warna menarik. Bulan akan berwarna kekuningan, planet Mars akan berwarna merah, dan bintang Regulus akan berwarna biru keputihan.

      section.page#page52
        h2 Cahaya Zodiak
        div#imagezodiak

      section.page#page521
        p Salah satu komponen utama cahaya zodiak (zodiacal light) adalah tabrakan antara asteroid-asteroid besar di Sabuk Asteroid (Asteroid Belt). Sabuk asteroid adalah bagian Tata Surya terletak kira-kira antara orbit planet Mars dan Jupiter.
        p Daerah ini dipenuhi oleh sejumlah objek tak beraturan yang disebut asteroid atau planet kerdil. 

      section.page#page53
        h2 Hujan Meteor
        div#imagemeteor

      section.page#page531
        p Hujan meteor Leonids (LEO) akan nampak seperti hujan meteor yang intensenya deras atau disebut juga Shooting Star.  Meteor yang radiant-nya berasal dari konstalasi Leo ini adalah pecahan dari komet Temple-Turtle. Debu meteorid dari komet Swift-Temple-Turtle ini datang berlawanan dengan orbit Bumi dan dapat melesat dengan kecepatan 72 km/s.
        p Setiap tahunnya, Leonids akan melakukan perjalanan sejauh 45 mil untuk menghibur jutaan pasang mata di bumi.

      section.page#page54
        h2 Komet ISON
        div#imageison

      section.page#page541
        p Akhir bulan November 2013, Komet ISON C/2012 S-1 untuk pertama kalinya akan terlihat di langit subuh menuju matahari mulai November 2013. Komet ini ditemukan pada tahun 2012 oleh Vitali Nevski dan Artyom Novichonok, astronom asal Rusia. Nama komet diambil dari fasilitas penemuannya, International Scientific Optical Network, ISON.
        p Ini adalah kali pertamanya komet ini mendekati dan mengorbit matahari sejak 10.000 tahun lalu, ia mulai tertarik oleh gravitasi Matahari dan memulai perjalanannya sejak selama ini hanya berada di Kuiper Belt.


    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild