doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Copernicus : Astronomi

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Raleway')
    // endbuild

  body

    article

      section#cover
        h1 ASTRONOMI
        ul
          li Oleh Tim : Copernicus
          li Febryco Bonatua Lumban Raja
          li Jestin Pangihutan Munthe
          li Chairun Arrasyid Damanik
          li Edy Pranatha Jaya Ginting



      section.subtopik#subtopik1
        h2 Pengertian Astronomi
        div.image#image1

      section.page#page11
        p Astronomi ialah cabang ilmu alam yang melibatkan pengamatan benda-benda langit (seperti halnya bintang, planet, komet, nebula, gugus bintang, atau galaksi) 
        p serta fenomena-fenomena alam yang terjadi di luar atmosfer Bumi (misalnya radiasi latar belakang kosmik (radiasi CMB))

      section.page#page12
        p Kata astronomi berasal dari bahasa Yunani, yaitu kata astron (ἄστρον, "bintang") yang kemudian diberi akhiran -nomi dari nomos (νόμος, "hukum" atau "budaya")  
        p Maka secara harafiah ia bermakna "hukum/budaya bintang-bintang"

      section.page#page13
        p Astronomi telah dikenal jauh sebelum peradaban modern melekat pada manusia. Pengembangannyapun masih terkesan kuno dan sangat tradisional. Contohnya seperti artifak-artifak astronomis yang telah ditemukan dari era prasejarah, beberapa diantaranya adalah monumen-monumen Mesir dan Nubia, atau yang cukup terkenal di kalangan orang banyak, yaitu Stonehenge yang berasal dari Britania.

      section.page#page14
        p Cukup banyak cabang-cabang ilmu yang pernah turut disertakan sebagai bagian dari astronomi, di antaranya seperti:
        ul
          li astrometri
          li pelayaran berbasis angkasa
          li astronomi observasional
          li astrologi, dll.

      section.page#page15
        p Pada abad ke-20, astronomi profesional terbagi menjadi dua cabang, yaitu
        ul
          li astronomi observasional
          li astronomi teoretis

      section.subtopik#subtopik2
        h2 Cabang Ilmu Astronomi
        div.image#image2

      section.page#page21
        ul
          li 
            h3 Astronomi Surya
          li 
            h3 Ilmu Keplanetan
          li 
            h3 Astronomi Bintang
          li 
            h3 Astronomi Galaksi
          li 
            h3 Astronomi Ekstragalaksi
          li 
            h3 Kosmologi

      section.page#page22
          h2 Astronomi Surya

      section.page#page23
          h2 Ilmu Keplanetan

      section.page#page24
          h2 Astronomi Bintang
 
      section.page#page25
          h2 Astronomi Galaksi

      section.page#page26
          h2 Astronomi Ekstragalaksi

      section.page#page27
          h2 Kosmologi

      section.subtopik#subtopik3
        h2 Teori-Teori Astronot Kuno
        div.image#image3
        ul
          li Erich Von Däniken
          li Zecharia Sitchin
          li Robert K.G Temple

      section.subtopik#subtopik31
        p Teori Astronot Kuno adalah suatu teori yang menyatakan bahwa bumi kita ini dulu telah dikunjungi makhluk luar angkasa yang mengembangkan kebudayaan manusia. Pada abad ke 20, teori ini dikemukakan oleh Erich von Däniken, Zecharia Sitchin, Robert K. G. Temple, and David Icke.
        p Teori ini mengatakan dewa-dewa dari sebagian suku merupakan makhluk luar angkasa, ditambah lagi dengan peninggalan kuno seperti baalbeck, yonaguni, stonehenge, serta gambar-gambar serta ukiran yang terdapat pada sisa bangunan peradaban masa silam, seperti makhluk berhelm yang digambar di gua, ukiran suku maya,dan lainnya... ukiran dan gambaran yang ada biasanya adalah apa yang dilihat dan terjadi oleh orang pada masa itu.

      section.subtopik#subtopik32
        h3 Erich Von Däniken
        div.image#image32
        p Erich Von Däniken mengatakan bahwa beberapa benda purbakala buatan manusia lebih canggih dari apa yang seharusnya dibuat mereka pada zaman itu. Teknologi mereka yang canggih diyakini Erich bahwa yang membuat tekologi purbakala itu adalah mahkhluk luar angkasa atau manusia yang mendapat pengetahuan dari makhluk tersebut.

      section.subtopik#subtopik33
        h3 Zecharia Sitchin
        div.image#image33
        p Zecharia Sitchin adalah orang yang menyatakan kalau dewa mesopotamia kuno berasal dari planet ke 12 yang disebut NIBIRU. Menurut Sitchin, Nibiru akan mengorbit ke matahari kita setiap 3.600 tahun sekali. Sitchin juga menyatakan kalau sabuk asteroid di antara Mars dan Jupiter adalah sebuah planet kuno bernama "Tiamat" yang hancur oleh Nibiru.

      section.subtopik#subtopik34
        h3 Robert K.G Temple
        div.image#image34
        p Robert Temple adalah orang yang mengatakan makhluk asing mengunjungi manusia 500 tahun yang lalu pada suku dogo yang sudah mengetahui secara luas astronomi sebelum para manusia lainnya menemukannya. Dia percaya bahwa suku dogon memperoleh pengetahuan dari makhluk asing.

      section.subtopik#subtopik35
        h3 Ilmuwan Astronom Abad Pertengahan
        div.image#image35
        ul
          li Claudius Ptolomeus
          li Nicolaus Copernicus
          li Galileo Galilei
          li Ibn Al-Syatir

       section.subtopik#subtopik36
        h3 Claudius Ptolomeus
        div.image#image36
        p (90 - 168)

       section.subtopik#subtopik37
        h3 Nicolaus Copernicus
        div.image#image37
        p (1473 - 1543)

       section.subtopik#subtopik38
        h3 Galileo Galilei
        div.image#image38
        p (1564 - 1642)

       section.subtopik#subtopik39
        h3 Ibn Al-Syatir
        div.image#image39
        p (1304 - 1375)

       section.subtopik#subtopik311
        h3 Heliosentris atau Geosentris ?
        div.image#image311



      section.subtopik#subtopik4
        h2 Astronomi Era Millenium
        div.image#image4

      section.page#page41
        p Sebagaimana disebutkan, astronomi ialah salah satu dari sedikit cabang ilmu di mana tenaga amatir dapat berkontribusi banyak. Yang jamak diamati yaitu Bulan, planet, bintang, komet, hujan meteor, dan benda-benda langit dalam seperti gugusan bintang, galaksi, dan nebula.

      section.page#page42
        p Kebanyakan astronom amatir bekerja dalam astronomi optikal, walau sebagian kecil ada juga yang mencoba bereksperimen dengan panjang gelombang di luar cahaya tampak, misalnya dengan penyaring inframerah pada teleskop biasa, atau penggunaan teleskop radio. Amatir jenis seperti Jansky ini memakai teleskop buatan sendiri atau teleskop radio profesional yang sekarang sudah boleh diakses oleh amatir seperti halnya Teleskop Satu Mil (One-Mile Telescope).

      section.page#page43
        p Sumbangsih astronom amatir tidak sepele, sebab banyak hal seperti pengkuran okultasi guna mempertajam catatan garis edar planet-planet kecil bergantung pada pekerjaan astronomi amatir. Seiring dengan perkembangan teknologi digital, astrofotografi amatir juga semakin efektif dan semakin giat memberikan sumbangan ilmu.

      section.page#page44
        p Tata Surya kita beredar di dalam Bima Sakti, sebuah galaksi spiral berpalang di Grup Lokal. Ia merupakan salah satu yang paling menonjol di kumpulan galaksi tersebut. Bima Sakti merotasi materi-materi gas, debu, bintang, dan benda-benda lain, semuanya berkumpul akibat tarikan gaya gravitasi bersama. Bumi sendiri terletak pada sebuah lengan galaksi berdebu yang ada di bagian luar, sehingga banyak daerah-daerah Bima Sakti yang tidak terlihat.

      section.page#page45
        p Pada pusat galaksi ialah bagian inti, semacam tonjolan berbentuk seperti batang; diyakini bahwa terdapat sebuah lubang hitam supermasif di bagian pusat ini. Bagian ini dikelilingi oleh empat lengan utama yang melingkar dari tengah menuju arah luar, dan isinya kaya akan fenomena-fenomena pembentukan bintang, sehingga memuat banyak bintang-bintang muda (metalisitas populasi I). 
        p Cakram ini lalu diliputi oleh cincin galaksi yang berisi bintang-bintang yang lebih tua (metalisitas populasi II) dan juga gugusan-gugusan bintang berbentuk bola (globular), yaitu semacam kumpulan-kumpulan bintang yang relatif lebih padat.

      section.page#page46
        p Daerah di antara bintang-bintang disebut medium antarbintang, yaitu daerah dengan kandungan materi yang jarang — bagian-bagiannya yang relatif terpadat adalah awan-awan molekul berisi hidrogen dan unsur lainnya, tempat di mana banyak bintang baru akan lahir. 
        p Awalnya akan terbentuk sebuah inti pra-bintang atau nebula gelap yang merapat dan kemudian runtuh (dalam volume yang ditentukan oleh panjang Jeans) untuk membangun protobintang.

      section.page#page47
        p Ketika sudah banyak bintang besar yang muncul, mereka akan mengubah awan molekul menjadi awan daerah H II, yaitu awan dengan gas berpijar dan plasma. 
        p Pada akhirnya angin serta ledakan supernova yang berasal dari bintang-bintang ini akan memencarkan awan yang tersisa, biasanya menghasilkan sebuah (atau lebih dari satu) gugusan bintang terbuka yang baru. 
        p Gugusan-gugusan ini lambat laun berpendar, dan bintang-bintangnya bergabung dengan Bima Sakti.

      section.page#page48
        p Sejumlah penelitian kinematika berkenaan dengan materi-materi di Bima Sakti (dan galaksi lainnya) menunjukkan bahwa materi-materi yang tampak massanya kurang dari massa seluruh galaksi. 
        p Ini menandakan terdapat apa yang disebut materi gelap yang bertanggung jawab atas sebagian besar massa keseluruhan, tapi banyak hal yang belum diketahui mengenai materi misterius ini.

      section.page#page49
        p Galaksi spiral membentuk cakram gepeng yang berotasi, biasanya dengan tonjolan atau batangan pada bagian tengah dan lengan-lengan spiral cemerlang yang timbul dari bagian tersebut. Lengan-lengan ini ialah lapangan berdebu tempat lahirnya bintang-bintang baru, dan penghuninya adalah bintang-bintang muda yang bermassa besar dan berpijar biru. Umumnya, galaksi spiral akan dikelilingi oleh cincin yang tersusun atas bintang-bintang yang lebih tua. Contoh galaksi semacam ini adalah Bima Sakti dan Andromeda.



      section.subtopik#subtopik5
        h2 Misteri terkait Astronomi
        div.image#image5

      section#BIG
        li Lunar Trio
        li Cahaya Zodiak
        li Hujan Meteor
        li Komet ISON

      section.page#page51
        h2 Lunar Trio
        div#imagelunar

      section.page#page511
        p Dimulai sejak akhir Oktober 2013 pada awal pagi Selasa, tanggal 29, Bulan akan membentuk pola segitiga berkolaborasi dengan planet Mars dan bintang Regulus, dari konstelasi Leo.

      section.page#page52
        h2 Cahaya Zodiak
        div#imagezodiak

      section.page#page521
        p Salah satu komponen utama cahaya zodiak (zodiacal light) adalah tabrakan antara asteroid-asteroid besar di Sabuk Asteroid (Asteroid Belt). Sabuk asteroid adalah bagian Tata Surya terletak kira-kira antara orbit planet Mars dan Jupiter.

      section.page#page53
        h2 Hujan Meteor
        div#imagemeteor

      section.page#page531
        p Hujan meteor Leonids (LEO) akan nampak seperti hujan meteor yang intensenya deras atau disebut juga Shooting Star.  Meteor-meteor yang radiant-nya berasal dari konstalasi Leo ini adalah pecahan dari komet Temple-Turtle. Debu meteorid dari komet Swift-Temple-Turtle ini datang berlawanan dengan orbit Bumi dan dapat melesat dengan kecepatan 72 km per detik

      section.page#page54
        h2 Komet ISON
        div#imageison

      section.page#page541
        p Pada akhir bulan November 2013, Komet ISON C/2012 S-1 untuk pertama kalinya akan terlihat di langit subuh menuju matahari mulai November 2013. Komet ini ditemukan pada tahun 2012 oleh Vitali Nevski dan Artyom Novichonok, astronom asal Rusia. Nama komet diambil dari fasilitas penemuannya, International Scientific Optical Network, ISON.



    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild