doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Copernicus : Astronomi

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Raleway')
    link(rel='stylesheet', type='text/css', href='styles/style.css')
    // endbuild

  body

    article

      section#cover
        h1 ASTRONOMI
        ul
          li
          li Oleh Tim : Copernicus
          li Febryco Bonatua Lumban Raja
          li Jestin Pangihutan Munthe
          li Chairun Arrasyid Damanik
          li Edy Pranatha Jaya Ginting

      section.subtopik#subtopik1
        h2 Pengertian Astronomi
        div.image#image1

      section.page#page11
        p Astronomi ialah cabang ilmu alam yang melibatkan pengamatan benda-benda langit (seperti halnya bintang, planet, komet, nebula, gugus bintang, atau galaksi) 
        p serta fenomena-fenomena alam yang terjadi di luar atmosfer Bumi (misalnya radiasi latar belakang kosmik (radiasi CMB))

      section.page#page12
        p Kata astronomi berasal dari bahasa Yunani, yaitu kata astron (ἄστρον, "bintang") yang kemudian diberi akhiran -nomi dari nomos (νόμος, "hukum" atau "budaya")  
        p Maka secara harafiah ia bermakna "hukum/budaya bintang-bintang"

      section.page#page13
        p Astronomi telah dikenal jauh sebelum peradaban modern melekat pada manusia. Pengembangannyapun masih terkesan kuno dan sangat tradisional. Contohnya seperti artifak-artifak astronomis yang telah ditemukan dari era prasejarah, beberapa diantaranya adalah monumen-monumen Mesir dan Nubia, atau yang cukup terkenal di kalangan orang banyak, yaitu Stonehenge yang berasal dari Britania.

      section.page#page14
        p Cukup banyak cabang-cabang ilmu yang pernah turut disertakan sebagai bagian dari astronomi, di antaranya seperti:
        hr
        ul
          li
          li 
            strong Astrometri
          li 
            strong Pelayaran berbasis angkasa
          li 
            strong Astronomi observasional
          li 
            strong Astrologi 
          li 
            strong dll.

      section.page#page15
        p Pada abad ke-20, astronomi profesional terbagi menjadi dua cabang, yaitu
        ul
          li
          li 
            strong Astronomi Observasional
          li 
            strong Astronomi Teoritis

      section.subtopik#subtopik2
        h2 Cabang Ilmu Astronomi
        div.image#image2

      section.page#page21
        ul
          li
          li 
            h3 
              strong Astronomi Surya
          li 
            h3 
              strong Ilmu Keplanetan
          li 
            h3 
              strong Astronomi Bintang
          li 
            h3 
              strong Astronomi Galaksi
          li 
            h3 
              strong Astronomi Ekstragalaksi
          li 
            h3 
              strong Kosmologi

      section.page#page22
          h2 Astronomi Surya
          p Mempelajari tentang segala aktivitas yang terjadi pada matahari dan dampak yang ditimbulkan terhadap objek yang disekitarnya. 
          p Salah satu aktivitas dari matahari yang sangat terkenal adalah gerhana. 
          p Aktivitas lainnya yang cukup menarik untuk dikaji oleh para peneliti adalah badai matahari.

      section.page#page23
          h2 Ilmu Keplanetan
          p Mempelajari tentang sususan dari setiap objek-objek yang ada di suatu sistem tata surya. Yang dikaji tidak hanya objek-ebjek yang ada di tata surya di mana Bumi kita, yaitu Bima Sakti, tetapi juga objek-objek sistem tata surya lainnya yang ada di luar Bima Sakti.

      section.page#page24
          h2 Astronomi Bintang
          p Mempelajari tentang asal mula bintang terbentuk dan evolusi dari bintang tersebut hingga akhir evolusinya.
 
      section.page#page25
          h2 Astronomi Galaksi
          p Mempelajari tentang tata surya kita, yaitu Bima Sakti, secara spesifik dan setiap aktivitas-aktivitas yang terjadi di dalam tata surya tersebut.

      section.page#page26
          h2 Astronomi Ekstragalaksi
          p Mempelajari tentang galaksi yang berada di luar tata surya kita, bagaimana galaksi-galaksi tersebut berevolusi dan aktivitas-aktivitas apa saja yang terjadi di galaksi tersebut.

      section.page#page27
          h2 Kosmologi
          p Kosmologi adalah ilmu yang mempelajari struktur dan sejarah alam semesta berskala besar. Secara khusus, ilmu ini berhubungan dengan asal mula dan evolusi dari suatu subjek. Kosmologi dipelajari dalam astronomi, filosofi, dan agama.
          p Salah satu teori yang cukup terkenal berkaitan dengan kosmologi adalah Teori Ledakan Dahsyat (Big Bang Teori).
        

      section.subtopik#subtopik35
        h3 
          strong Ilmuwan Yang Berpengaruh Dalam Perkembangan Ilmu Astronomi
        div.image#image3

       section.subtopik#subtopik36
        h3 
          strong Claudius Ptolomeus
        div.image#image36
        p 
          strong (90 - 168)

       section.subtopik#subtopik37
        h3 
          strong Nicolaus Copernicus
        div.image#image37
        p (1473 - 1543)

       section.subtopik#subtopik38
        h3 
          strong Galileo Galilei
        div.image#image38
        p 
          strong (1564 - 1642)

       section.subtopik#subtopik39
        h3 
          strong Ibn Al-Syatir
        div.image#image39
        p 
          strong (1304 - 1375)

       section.subtopik#subtopik3
        h2 Konsep Geosentris dan Heliosentris
        div.image#image314

       section.subtopik#subtopik312
        h2 Geosentris
        div.image#image312
        ul
          li
          li Bumi sebagai Pusat Tata Surya
          li Aristoteles
          li Claudius Ptolomeus dan Almagest
          li Kelebihan dan Kekurangan Geosentris

       section.subtopik#subtopik313
        h2 Heliosentris
        div.image#image313
        ul
          li
          li Matahari sebagai Pusat Tata Surya
          li Nicolaus Copernicus
          li Kelebihan dan Kekurangan Heliosentris

       section.subtopik#subtopik311
        h2 Teori Pembentukan Tata Surya
        div.image#image311

       section.subtopik#subtopik315
        h2 
           strong Teori Nebula (Kant - Laplace)
        div.image#image315

       section.subtopik#subtopik316
        h3 
           strong Teori Kondensasi (Carl von Weizsacker - Gerald P. Kuiper)
        div.image#image316

       section.subtopik#subtopik317
        h3 
           strong Teori Planetesimal (Chamberlain - Moulton)
        div.image#image317
       
      section.subtopik#subtopik4
        h2 Astronomi Era Millenium
        div.image#image4

      section.page#page4a1
        h3 Penemuan dan Kejadian Penting

      section.page#page4a2
        h4 
          strong Tahun 1929
        p Edwin Hubble, ahli astronomi Amerika, menemukan bahwa bintang-bintang mengalami pergerakan yang di simpulkan bahwa alam semesta "mengembang".
        p Hal ini ditarik dari suatu hukum fisika, yang di mana spektrum cahaya suatu bintang cenderung berwarna merah jika sedang bergerak menjauh, kebalikannya spektrum warna cenderung berwarna ungu jika sedang bergerak mendekat.

      section.page#page4a3
        h4 
          strong Tahun 1958
        p National Aeronautics and Space Administration (NASA) adalah lembaga pemerintah milik Amerika Serikat yang bertanggung jawab atas program luar angkasa AS dan penelitian umum luar angkasa jangka panjang. Organisasi ini bertanggung jawab atas program penelitian luar angkasa bagi masyarakat sipil, aeronautika, dan program kedirgantaraan.
        p Presiden Eisenhower mendirikan NASA pada tahun 1958 dengan tujuan untuk mementingkan kebutuhan masyarakat sipil dibandingkan dengan militer, dan digunakan sebagai program perdamaian dalam ilmu keluar-angkasaan. Undang-Undang Aeronautika dan Keluarangkasaan Nasional disahkan pada 29 Juli 1958, menggantikan organisasi sebelumnya, Komite Penasehat Aeronautika Nasional. Badan ini resmi beroperasi pada 1 Oktober 1958.

      section.page#page4a5
        h4 
          strong 20 Juli 1969
        p Neil Armstrong dan Edwin Aldrin, manusia pertama yang menginjakkan kaki di Bulan melalui misi Apollo-11. Dalam misi Apollo-11, tercatat ada 3 astronot yang menjadi awak pesawatnya, tapi satu di antaranya, Michael Collins, tetap berada di pesawat untuk mengawasi kontak dengan stasiun di Bumi.

      section.page#page4a6
        h4 
          strong 2 Maret 1972
        p Pioneer 10 adalah sebuah pesawat luar angkasa pertama yang melampaui sabuk asteroid, dan juga yang pertama melakukan pengamatan langsung terhadap planet Yupiter.
        p Pesawat ini diluncurkan pada tanggal 2 Maret 1972, dan berhasil mengirimkan foto jarak dekat (close up) Yupiter pertama pada 3 Desember 1973.
        p Pada tanggal 13 Juni 1983 Pioneer 10 melintasi orbit Neptunus dan menjadi benda buatan manusia pertama yang meninggalkan tata surya, walaupun belum melewati heliopause atau awan Oort.

      section.page#page4a7
        h4 
          strong 27 Desember 1984
        p Allan Hills 84001 (biasanya disingkat ALH 84001[1]) adalah meteorit yang ditemukan di Allan Hills, Antarktika, oleh kelompok pencari meteorit Amerika Serikat dari proyek ANSMET. ALH 84001 diduga berasal dari Mars. 
        p Pada saat ditemukan, meteorit ini memiliki massa sebesar 1.93 kg. Pada tahun 1996, NASA mengeluarkan pernyataan bahwa mungkin meteorit ini mengandung bakteri dari Mars.
        p Batu ini diperkirakan mengalami kristalisasi dari bebatuan cair sekitar 4,1 miliar tahun yang lalu. Allan Hills 84001 diduga berasal dari planet Mars pada masa Mars dalam keadaan "basah".

      section.page#page4a7
        h4 
          strong 19 Maret 2011
        p Bulan super adalah istilah yang digunakan oleh para astrolog untuk menggambarkan keadaan bulan penuh ketika bulan berada dalam posisi terdekatnya dengan Bumi (apsis/perigee).
        p Secara spesifik, bulan super bisa merupakan bulan purnama atau bulan baru, yang jaraknya dengan bumi sekitar 10% atau kurang dari jarak lintasannya dengan bumi.
        p Ketika fenomena ini terjadi, bulan nampak lebih besar dan lebih terang, meskipun perubahan jaraknya hanya beberapa kilometer.
        p Fenomena bulan super sebelumnya terjadi tahun 1955, 1974, 1992, dan 2005. Pada 19 Maret 2011, bulan super akan mengalami jarak terdekatnya dalam 18 tahun terakhir, dengan prakiraan jarak sekitar 356.577 kilometer (221,567 mil).

      section.subtopik#subtopik5
        h2 Misteri terkait Astronomi
        div.image#image5

      section#BIG
        li
        li 
          strong Lunar Trio
        li 
          strong Cahaya Zodiak
        li 
          strong Hujan Meteor
        li 
          strong Komet ISON

      section.page#page51
        h2 Lunar Trio
        div#imagelunar

      section.page#page511
        p Pada akhir Oktober 2013 awal pagi Selasa, tanggal 29, Bulan akan membentuk pola segitiga berkolaborasi dengan planet Mars dan bintang Regulus, dari konstelasi Leo.
        p Penampakan ketiganya pun akan terlihat seperti tiga benda langit yang membentuk segitiga sama sisi dengan warna-warna menarik. Bulan akan berwarna kekuningan, planet Mars akan berwarna merah, dan bintang Regulus akan berwarna biru keputihan.

      section.page#page52
        h2 Cahaya Zodiak
        div#imagezodiak

      section.page#page521
        p Salah satu komponen utama cahaya zodiak (zodiacal light) adalah tabrakan antara asteroid-asteroid besar di Sabuk Asteroid (Asteroid Belt). Sabuk asteroid adalah bagian Tata Surya terletak kira-kira antara orbit planet Mars dan Jupiter.
        p Daerah ini dipenuhi oleh sejumlah objek tak beraturan yang disebut asteroid atau planet kerdil. 

      section.page#page53
        h2 Hujan Meteor
        div#imagemeteor

      section.page#page531
        p Hujan meteor Leonids (LEO) akan nampak seperti hujan meteor yang intensenya deras atau disebut juga Shooting Star.  Meteor yang radiant-nya berasal dari konstalasi Leo ini adalah pecahan dari komet Temple-Turtle. Debu meteorid dari komet Swift-Temple-Turtle ini datang berlawanan dengan orbit Bumi dan dapat melesat dengan kecepatan 72 km/s.
        p Setiap tahunnya, Leonids akan melakukan perjalanan sejauh 45 mil untuk menghibur jutaan pasang mata di bumi.

      section.page#page54
        h2 Komet ISON
        div#imageison

      section.page#page541
        p Akhir bulan November 2013, Komet ISON C/2012 S-1 untuk pertama kalinya akan terlihat di langit subuh menuju matahari mulai November 2013. Komet ini ditemukan pada tahun 2012 oleh Vitali Nevski dan Artyom Novichonok, astronom asal Rusia. Nama komet diambil dari fasilitas penemuannya, International Scientific Optical Network, ISON.
        p Ini adalah kali pertamanya komet ini mendekati dan mengorbit matahari sejak 10.000 tahun lalu, ia mulai tertarik oleh gravitasi Matahari dan memulai perjalanannya sejak selama ini hanya berada di Kuiper Belt.


    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild